annotated-types==0.7.0
anyio==4.9.0
black==25.1.0
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.2.1
defusedxml==0.7.1
dotenv==0.9.9
fastapi==0.116.1
flatbuffers==25.2.10
google-auth==2.40.3
google-genai==1.28.0
h11==0.16.0
httpcore==1.0.9
httpie==3.2.4
httpx==0.28.1
idna==3.10
jh2==5.0.9
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.6.3
mypy_extensions==1.1.0
niquests==3.14.1
openmeteo_requests==1.6.0
openmeteo_sdk==1.20.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
PySocks==1.7.1
python-dotenv==1.1.1
qh3==1.5.3
requests==2.32.4
requests-toolbelt==1.0.0
rich==14.1.0
rsa==4.9.1
sniffio==1.3.1
starlette==0.47.2
tenacity==8.5.0
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
urllib3-future==2.13.901
uvicorn==0.35.0
wassima==1.2.2
websockets==15.0.1
